@twitterTextGrey: #657786;

.ProfileHeaderCard-botcheck {
	color: @twitterTextGrey;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    position: relative;

    .Icon {
    	width: 18px;
	    position: absolute;
	    top: 1px;
    }

	.status-text {
		padding-left: 22px;
		line-height: 1;
		color: @twitterTextGrey;
    	vertical-align: bottom;
    	box-decoration-break: clone;
    	-webkit-box-decoration-break: clone;
    	font-size: 14px;
	}
}