@textColor: #303030;
@secondaryTextColor: #666;
@lightGrey: #E5E5E5;
@lightBlue: #ebfbff;
@botcheckRed: #FB0015;
@blue: #00aced;

html, body {
  margin: 0;
  padding: 0;
  color: @textColor;
}

.secondary-text {
  color: @secondaryTextColor;
}

a {
  text-decoration: none;
  color: @blue;
}

ul {
  list-style-type: none;
  padding: 6px 0 6px 0;
  margin: 0;

  li:not(.divider) {
    display: block;

    &:hover {
      background-color: @lightBlue;
    }

    a {
      font-size: 13px;
      color: @secondaryTextColor;
      text-decoration: none;
      display: block;
      padding: 8px 15px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  li.divider {
    display: block;
    height: 1px;
    background: @lightGrey;
    margin: 8px 0;
  }
}

#main-view {
  width: 250px;
}

#whitelist-view {
  width: 300px;
}

.whitelist-table {
  margin-bottom: 16px;
  height: 200px;
  overflow-y: auto;
  overflow-x: auto;

  .whitelist-item {
    display: inline-block;
    min-width: 100%;
    margin: 6px 0 6px 0;
    white-space: nowrap;
    border-bottom: 1px solid @lightGrey;

    .realName {
      font-size: 14px;
    }

    span {
      vertical-align: middle;
    }

    .remove-button {
      font-weight: bold;
      font-size: 20px;
      color: @botcheckRed;
      border-radius: 999px;

      &:hover {
        cursor: pointer;
        background-color: @lightGrey;
      }

      i {
        padding: 3px;
      }
    }
  }
}
