html,
body {
  margin: 0;
  padding: 0;
  color: #303030;
}
.secondary-text {
  color: #666;
}
a {
  text-decoration: none;
  color: #00aced;
}
ul {
  list-style-type: none;
  padding: 6px 0 6px 0;
  margin: 0;
}
ul li:not(.divider) {
  display: block;
}
ul li:not(.divider):hover {
  background-color: #ebfbff;
}
ul li:not(.divider) a {
  font-size: 13px;
  color: #666;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
}
ul li:not(.divider) a:hover {
  text-decoration: none;
}
ul li.divider {
  display: block;
  height: 1px;
  background: #E5E5E5;
  margin: 8px 0;
}
#main-view {
  width: 250px;
}
#whitelist-view {
  width: 300px;
  height: fit-content;
}
.whitelist-table {
  margin-bottom: 16px;
  height: 200px;
  overflow-y: auto;
  overflow-x: auto;
}
.whitelist-table .whitelist-item .remove-button {
  font-weight: bold;
  font-size: 20px;
  color: #FB0015;
  border-radius: 999px;
}
.whitelist-table .whitelist-item .remove-button:hover {
  cursor: pointer;
  background-color: #E5E5E5;
}
.whitelist-table .whitelist-item .remove-button i {
  padding: 3px;
}
.whitelist-header-text {
  color: #666666;
  font-size: 16px;
  letter-spacing: -0.2px;
  padding: 10px;
  margin-left: 28px;
}
.whitelist-header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.whitelist-item {
  position: relative;
  height: 52px;
}
.whitelist-item:hover {
  background-color: #F6F6F6;
}
.un-whitelist-item {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -124px;
  margin-top: -10px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}
.whitelist-item-real-name {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.17px;
  line-height: 16px;
  padding-top: 8px;
  padding-left: 16px;
}
.whitelist-item-handle {
  color: #B3B3B3;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.15px;
  line-height: 16px;
  padding-top: 4px;
  padding-left: 16px;
  padding-bottom: 8px;
}
.whitelist-go-back {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -135px;
  margin-top: -10px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}
.whitelist-empty {
  color: #666666;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.15px;
  line-height: 16px;
  padding: 15px;
}
