.botcheck-feed-container {
  display: inline-block;
}
.botcheck {
  color: #657786;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  position: relative;
}
.botcheck .icon {
  width: 18px;
  position: absolute;
  top: 1px;
  background-image: none;
}
.botcheck .status-text {
  padding-left: 22px;
  line-height: 1;
  color: #657786;
  vertical-align: middle;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
.botcheck .status-text.bot {
  color: #FB0015;
}
.botcheck.button {
  border-radius: 25px;
  background: #FFD6D7;
  user-select: none;
  cursor: pointer;
}
.botcheck.button .icon {
  position: relative;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 3px;
}
.botcheck.button .status-text {
  padding-left: 4px;
  padding-right: 10px;
  vertical-align: middle;
  margin-top: 3px;
  font-size: 12px;
}
.botcheck.pull-up {
  margin-top: -4px;
  margin-left: 4px;
}
