html,
body {
  margin: 0;
  padding: 0;
  color: #303030;
  width: 200px;
}
.secondary-text {
  color: #666;
}
ul {
  list-style-type: none;
  padding: 10px 0 0 0;
  margin-left: 0;
}
ul li:not(.divider) {
  display: block;
}
ul li:not(.divider):hover {
  background-color: #ebfbff;
}
ul li:not(.divider) a {
  font-size: 13px;
  color: #666;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
}
ul li:not(.divider) a:hover {
  text-decoration: none;
}
ul li.divider {
  display: block;
  height: 1px;
  background: #E5E5E5;
  margin: 8px 0;
}
.whitelist-row {
  margin-bottom: 16px;
  min-height: 50px;
}
.whitelist-item {
  display: inline-block;
}
.whitelist-item span {
  vertical-align: middle;
}
.whitelist-row .remove-button {
  font-weight: bold;
  font-size: 20px;
  color: #F56C6C;
  border-radius: 999px;
}
.whitelist-row .remove-button:hover {
  background-color: #DCDFE6;
}
.whitelist-row .remove-button i {
  padding: 3px;
}
