<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="../vendor/vue.js"></script>
  <script src="../vendor/vuex.js"></script>
  <script src="../vendor/element.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/element.css">
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
</head>

<body>
  <div id="app">
    <div id="main-view" v-if="showMainView">
      <ul>
        <li>
          <a href="https://botcheck.me" target="_blank">Botcheck.me Site</a>
        </li>
        <li>
          <a href="https://medium.com/@robhat/identifying-propaganda-bots-on-twitter-5240e7cb81a9" target="_blank">How This Works</a>
        </li>
        <li>
          <a href="http://twitter.com/theashbhat" target="_blank">Follow Us for Updates</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#" v-on:click="openWhitelist">View Whitelist</a>
        </li>
      </ul>
    </div>
    <div id="whitelist-view" v-if="showWhitelistView">
      <div>
        <el-container>
          <el-main>
            <h1 class="header">Whitelisted Accounts</h1>
            <div class="whitelist-table">
              <div class="whitelist-table-inner">
                <div v-if="Object.keys(whitelist).length < 1">
                  <p>No users have been whitelisted so far!</p>
                </div>
                <div v-for="(value, key) in whitelist" class="whitelist-item">
                  <span class="remove-button" v-on:click="remove(key)"><i class="el-icon-close"></i></span>
                  <span class="realName">{{value.realName}}</span>
                  <span class="screenName secondary-text">
                    <a href="#" @click="openTwitterProfile(key)">@{{key}}</a>
                  </span>
                </div>
              </div>
            </div>
            <el-button href="#" v-on:click="closeWhitelist">Back</el-button>
          </el-main>
        </el-container>
      </div>
    </div>
  </div>
  <script src="popup.js"></script>
</body>

</html>